.idea
.vscode
.DS_Store
10.10.10.5
transform_files
search_results
spconfig-exports

# CLI binary
sailpoint-cli


data
.DS_Store
assets/demo_create.json
assets/demo_update.json
cmd/transform/test_data/test_create.json
cmd/transform/test_data/test_update.json
